<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @page {
        margin: 1cm;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 11pt;
        background-color: white;
      }
      body {
        width: 100vw;
        height: 100vh;
      }
      table {
        border-collapse: collapse;
        page-break-after: always;
        width: 100%;
      }
      table col {
        width: 500pt;
      }
      table tr {
        height: 15pt;
      }
    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" id="sheet0">
      <col class="col0" />
      <col class="col1" />
      <col class="col2" />
      <col class="col3" />
      <col class="col4" />
      <col class="col5" />
      <col class="col6" />
      <col class="col7" />
      <col class="col8" />
      <col class="col9" />
      <col class="col10" />
      <col class="col11" />
      <tbody>
        <tr style="border: 1px solid black">
          <td
            colspan="12"
            style="
              vertical-align: middle;
              text-align: center;
              font-size: 20pt;
              font-weight: bold;
              padding: 20px;
            "
          >
            सौसर कॉटन प्रोसेसिंग प्राइवेट लिमिटेड सौसर-{{year}}
          </td>
        </tr>
        <tr style="border: 1px solid black">
          <td
            style="
              vertical-align: middle;
              text-align: center;
              font-size: 10pt;
              font-weight: bold;
              padding: 10px;
            "
            colspan="12"
          >
            छिंदवाड़ा- रोड सौसर (म.प्र.) पिन कोड- 480106
          </td>
        </tr>
        <tr>
          <td
            style="
              vertical-align: middle;
              text-align: center;
              font-size: 10pt;
              font-weight: bold;
              padding: 10px;
            "
            colspan="12"
          >
            -: गेट – पास :-
          </td>
        </tr>
        {%for index,item in items | enumerate %}
        <tr>
          <td
            colspan="1"
            rowspan="2"
            style="
              text-align: left;
              border-left: 1px solid black;
              border-top: 1px solid black;
              border-bottom: 1px solid black;
              padding-left: 10px;
            "
          >
            नंबर:-
          </td>

          <td
            colspan="3"
            rowspan="2"
            style="
              text-align: left;
              border-top: 1px solid black;
              border-bottom: 1px solid black;
              font-weight: bold;
            "
          >
            {{index+1}}
          </td>
          <td
            colspan="2"
            rowspan="2"
            style="border-top: 1px solid black; border-bottom: 1px solid black"
          ></td>
          <td
            colspan="2"
            rowspan="2"
            style="
              border-top: 1px solid black;
              border-bottom: 1px solid black;
              text-align: right;
            "
          >
            दिनांक:-&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td
            colspan="4"
            rowspan="2"
            style="
              border-top: 1px solid black;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              font-weight: bold;
            "
          >
            {{item["date"]}}
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td
            colspan="2"
            style="
              border-top: 1px solid black;
              border-left: 1px solid black;
              /* border-right: 1px solid black; */
              border-bottom: 1px solid black;
              text-align: left;
              padding-left: 10px;
            "
            rowspan="2"
          >
            माल वाहक का नाम:-
          </td>
          <td
            colspan="10"
            rowspan="2"
            style="
              border-top: 1px solid black;
              /* border-left: 1px solid black; */
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              font-weight: bold;
            "
          >
            {{item["villagerName"]}}
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td
            colspan="2"
            rowspan="2"
            style="
              border-top: 1px solid black;
              border-left: 1px solid black;
              /* border-right: 1px solid black; */
              border-bottom: 1px solid black;
              text-align: left;
              padding-left: 10px;
            "
          >
            माल का विवरण:-
          </td>
          <td
            colspan="10"
            rowspan="2"
            style="
              border-top: 1px solid black;
              /* border-left: 1px solid black; */
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              font-weight: bold;
            "
          >
            {{item["good"]}}
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td
            colspan="2"
            rowspan="2"
            style="
              border-top: 1px solid black;
              border-left: 1px solid black;
              /* border-right: 1px solid black; */
              border-bottom: 1px solid black;
              text-align: left;
              padding-left: 10px;
            "
          >
            गाड़ी नंबर:-
          </td>
          <td
            colspan="10"
            rowspan="2"
            style="
              border-top: 1px solid black;
              /* border-left: 1px solid black; */
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              font-weight: bold;
            "
          >
            {{item["vehicle_no"]}}
          </td>
        </tr>
        <tr></tr>
        {% endfor %}
        <tr></tr>
        <tr>
          <td colspan="6"></td>
          <td colspan="6" style="text-align: right; font-weight: bold">
            सौसर कॉटन प्रोसेसिंग प्राइवेट लिमिटेड सौसर.
          </td>
        </tr>
      </tbody>
    </table>
    <script>
      window.print();
    </script>
  </body>
</html>
