<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @page {
        margin: 1cm;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 11pt;
        background-color: white;
      }
      body {
        width: 100vw;
        height: 100vh;
      }
      table {
        border-collapse: collapse;
        page-break-after: always;
        width: 100%;
      }
      table col {
        width: 42pt;
      }
      table tr {
        height: 15pt;
      }
    </style>
  </head>
  <body>
    {% for index,item in items | enumerate %}

    <table border="0" cellpadding="0" cellspacing="0" id="sheet0">
      <col class="col0" />
      <col class="col1" />
      <col class="col2" />
      <col class="col3" />
      <col class="col4" />
      <col class="col5" />
      <col class="col6" />
      <col class="col7" />
      <col class="col8" />
      <col class="col9" />
      <col class="col10" />
      <col class="col11" />
      <tbody>
        <tr>
          <td
            colspan="12"
            style="
              vertical-align: middle;
              text-align: center;
              font-size: 20pt;
              font-weight: bold;
              padding: 20px;
            "
          >
            सौसर कॉटन प्रोसेसिंग प्राइवेट लिमिटेड सौसर {{academic}}
          </td>
        </tr>
        <tr>
          <td
            colspan="12"
            style="
              vertical-align: middle;
              text-align: center;
              font-size: 14pt;
              font-weight: bold;
              padding: 10px;
            "
          >
            छिंदवाड़ा रोड सौसर पिन कोड (480106) मध्य प्रदेश
          </td>
        </tr>
        <tr>
          <td
            colspan="12"
            style="
              font-size: 11pt;
              text-align: center;
              padding: 10px;
              border: 1px solid black;
            "
          >
            तुलाई पर्ची समता 40 मिट्रिक टन
          </td>
        </tr>
        <tr>
          <td colspan="12" style="padding: 10px"></td>
        </tr>
        <tr>
          <td
            colspan="1"
            style="
              vertical-align: bottom;
              text-align: center;

              font-family: 'Calibri';
              font-size: 11pt;
              background-color: white;
            "
          >
            &nbsp;
          </td>
          <td colspan="2" style="padding: 10px; text-align: left">न.</td>
          <td
            colspan="3"
            style="padding: 10px; text-align: left; font-weight: bold"
          >
            {{index+1}}
          </td>
          <td colspan="3" style="padding: 10px; text-align: right">दिनांक</td>
          <td
            colspan="3"
            style="padding: 10px; text-align: left; font-weight: bold"
          >
            {{item["date"]}}
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2" style="padding: 10px; text-align: left">
            कृषक का नाम.
          </td>
          <td
            colspan="3"
            style="padding: 10px; text-align: left; font-weight: bold"
          >
            {{item["villagerName"]}}
          </td>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2" style="padding: 10px; text-align: left">गाड़ी न.</td>
          <td
            colspan="3"
            style="padding: 10px; text-align: left; font-weight: bold"
          >
            {{item["vehicle_no"]}}
          </td>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2" style="padding: 10px; text-align: left">
            माल का प्रकार.
          </td>
          <td
            colspan="3"
            style="padding: 10px; text-align: left; font-weight: bold"
          >
            1
          </td>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td colspan="12" style="padding: 10px"></td>
        </tr>
        <tr style="border: 1px solid black">
          <td colspan="3" style="padding: 10px; text-align: right">
            भरी गाड़ी का वजन.
          </td>
          <td
            colspan="9"
            style="padding: 10px; text-align: left; font-weight: bold"
          >
            {{item["good"]}}
          </td>
        </tr>
        <tr style="border: 1px solid black">
          <td colspan="3" style="padding: 10px; text-align: right">
            खाली गाड़ी का वजन.
          </td>
          <td
            colspan="9"
            style="padding: 10px; text-align: left; font-weight: bold"
          >
            {{item["before_wight"]}} {{item['par']}}
          </td>
        </tr>
        <tr style="border: 1px solid black">
          <td colspan="3" style="padding: 10px; text-align: right">नेट वजन.</td>
          <td
            colspan="9"
            style="padding: 10px; text-align: left; font-weight: bold"
          >
            {{item["net_wight"]}} {{item['par']}}
          </td>
        </tr>
        <tr>
          <td colspan="12" style="padding: 20px"></td>
        </tr>
        <tr>
          <td colspan="7"></td>
          <td colspan="5" style="font-weight: bold; text-align: right">
            सौसर कॉटन प्रोसेसिंग प्राइवेट लिमिटेड सौसर
          </td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
    <script>
      window.print();
    </script>
  </body>
</html>
